.description {
   color: #fffeee;
   padding: 4rem 6rem 0 6rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

img {
   display: flex;
   justify-content: center;
   margin: 0 auto;
 }
 
.subtitle {
   margin-top: 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
}