video {
    object-fit: cover;
    width: 100%;
    height: 80%;
    position: fixed;
    z-index: -1; 
}

iframe {
  object-fit: cover;
  width: 100%;
  height: 80%;
  position: fixed;
  z-index: -1; 
}


img {
  object-fit: cover;
  width: 100%;
  height: 90%;
  position: fixed;
  z-index: -1;
}


.hero-container {
    /*background: url{'images/image.jpg'} center center /cover no-repeat;*/
    height: 100vh;
    width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 1),
    -3px -3px 7px rgba(95, 83, 5, 1);;
}

  .hero-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 100px;   
  }

  #Education {
    justify-content: left;
    display: flex;
    flex-direction: column;
    align-items: left; 
    font-size: 20px;
}

  .hero-text  > p {
    margin-top: 8px;
    color: #fff;
    font-size: 50px;
    padding-bottom: -10px;
  }

  .hero-btns .btn {
    margin: 6px;
  }

  @media screen and (max-width: 960px) {
    .hero-container > p {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > p {
      font-size: 50px;
      padding-left: 10px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }
